<%= msg !=undefined?msg:""%>
<form action="/register" enctype="multipart/form-data" method="post">
  <input type="text" name="name" id="" />
  <input type="text" name="email" id="" />
  <input type="text" name="gender" id="" />
  <input type="text" name="dob" id="" />
  <input type="text" name="password" id="" />
  <input type="text" name="password2" id="" />
  <input type="file" name="myImage" id="" />
  <button type="submit">Submit</button>
</form>
